.comments-area {
  height: 500px;
  .show-comment-area {
    height: 95%;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    .comment {
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      width: fit-content;
    }
  }
  .type-message-area {
    ::ng-deep {
      .p-inputtext {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    .comments-area {
    }
  }
}
