.comments-area {
  height: 500px;
  .show-comment-area {
    height: 95%;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .type-message-area {
    ::ng-deep {
      .p-inputtext {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    .comments-area {
      width: 100%;
      .type-message-area {
        ::ng-deep {
          .p-inputtext {
            width: 100%;
          }
        }
      }
    }
  }
}
