.comments-area {
  height: 500px;
  .show-comment-area {
    height: 100%;
  }
  .type-message-area {
    ::ng-deep {
      .p-inputtext {
        // position: absolute;
        width: 100%;
        // bottom: 0;
      }
    }
  }
}
