<div class="content">
  <button pButton class="create-new-list-btn" (click)="newTaskList()">
    Create new list
  </button>
  <div class="board">
    <ng-container *ngFor="let tasklist of taskLists">
      <p-panel [header]="tasklist.title" class="board__list-item">
        <ng-template pTemplate="icons">
          <button
            pButton
            class="p-panel-header-icon"
            icon="pi pi-plus"
            [disabled]="isCreateNewTask"
            (click)="addNewTask(tasklist)"
          ></button>
          <button
            pButton
            class="p-panel-header-icon"
            icon="pi pi-trash"
          ></button>
        </ng-template>
        <div *ngFor="let task of tasklist.listTask">
          <div
            *ngIf="task.id !== 'newtask'"
            class="task-item task-valid"
            pDraggable="task"
            pDroppable="task"
            (onDragStart)="dragStartHandler(task)"
            (drop)="dropHandler($event, tasklist)"
            (onDragEnd)="dragEndHandler()"
            pDroppable="dd"
            (click)="showDetailTask()"
          >
            <p>{{ task.name }}</p>
            <div class="task-item__actions">
              <button
                (click)="deleteTask(task, tasklist)"
                pButton
                class="p-panel-header-icon p-button-rounded p-button-text"
                icon="pi pi-trash"
              ></button>
            </div>
          </div>
          <div *ngIf="task.id === 'newtask'" class="new-task task-item">
            <input
              [(ngModel)]="task.name"
              pInputText
              class="p-inputtext-sm new-task__name"
            />
            <div class="new-task__actions">
              <button
                pButton
                class="p-panel-header-icon p-button-rounded p-button-text"
                icon="pi pi-check"
                (click)="submitNewTask(tasklist)"
              ></button>
              <button
                pButton
                class="p-panel-header-icon p-button-rounded p-button-text"
                icon="pi pi-times"
                (click)="cancelNewTask(tasklist)"
              ></button>
            </div>
          </div>

          <!-- popup cua details-task -->
          <p-dialog
            header="{{ task.name }}"
            [(visible)]="displayDetailTask"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
          >
            <p class="m-0">{{ task.description }}</p>
            <!-- <app-task-detail [input]="selectedTask"></app-task-detail> -->

            <ng-template pTemplate="footer">
              <p-button
                icon="pi pi-check"
                (click)="displayDetailTask = false"
                label="Ok"
                styleClass="p-button-text"
              >
              </p-button>
            </ng-template>
          </p-dialog>
          <!-- end popup cua detail-task -->
        </div>
        <div
          pDroppable="task"
          class="task-item task-not-found"
          *ngIf="tasklist.listTask.length == 0"
          (drop)="dropHandler($event, tasklist)"
        >
          Task not found
        </div>
      </p-panel>
    </ng-container>
  </div>
</div>
<p-dialog
  class="create-new-list-dialog"
  *ngIf="this.displayCreateNewListDialog"
  header="Create new list"
  [(visible)]="displayCreateNewListDialog"
>
  <form [formGroup]="createListForm">
    <input pInputText formControlName="name" placeholder="Input List Name" />
  </form>
  <p-footer>
    <button
      pButton
      [disabled]="!createListForm.valid"
      icon="pi pi-check"
      class="p-button-text"
      (click)="onCreateNewList()"
    ></button>
    <button
      pButton
      (click)="displayCreateNewListDialog = false"
      icon="pi pi-times"
      class="p-button-text"
    ></button>
  </p-footer>
</p-dialog>
