/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.detail-task-container {
    .header-area{
      display: flex;
      justify-content: space-between;
      .detail-name{
          width: 65%;
      }
      .members{
        width: 30%;
      }
    }
  ::ng-deep {
    .p-inputtext {
      width: 100%;
    }
    .save-detail {
      .p-button {
        float: right;
      }
    }
  }
  .detail-info-task {
    .task-item {
      &__title.done {
        transition: all 0.5s;
        text-decoration: line-through;
      }
    }
  }
}

.comments-area {
  margin-top: 20px;
  height: 320px;
  .show-comment-area {
    height: 80%;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;

    .comment {
      background-color: white;
      border-radius: 5px;
      padding: 20px;
      margin: 20px;
      width: fit-content;
    }
  }
  .type-message-area {
    ::ng-deep {
      .p-inputtext {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
}
