:host::ng-deep{
  .fc-daygrid-day-events{
    max-height: 100px;
    overflow: auto;
  }
 .listTask .p-dialog .p-dialog-content{
    max-height: 40vh;
    overflow: auto;
    padding-bottom: 0 !important;
  }
  .fc-direction-ltr{
    height: 80vh;
  }
  .deadline-tasks-card:hover{
    opacity: 0.8;
    transition: 0.3s all;
    transform: translateX(-5px);
  }
  .mark-done:hover{
    color: rgb(124, 255, 124);
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s all;
  }
  .deadline-tasks-card{
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    cursor: pointer;
    margin-top: 2px;
    border-radius: 5px;
    padding: 5px;
  }

  .action{
    .pi{
      margin-right: 10px;
    }
  }
  .blue{
    background: rgb(150, 150, 255);
  }
  .red{
    background: rgb(255, 123, 123);
  }
  .green{
    background: rgb(94, 199, 94);
  }
  .yellow{
    background-color: rgb(219, 184, 80) ;
  }
}
