/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.content{
  padding: 10px 10px 10px 10px
}
.board{
    // justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    &__list-item{
        margin-top: 50px;
        margin-right: 50px;
        min-width: 400px;
    }
    .task-item{
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__title{
        width: 100%;
      }
      &__title.done{
      transition: all 0.5s;
       text-decoration: line-through;
      }
      &__actions{
        opacity: 0;
        display: flex;
      }
    }
    .task-valid{
      cursor: pointer;
    }
    .task-item:hover{
      transition: all 0.4s;
      background-color: rgba(#2196F3, 0.1);
      .task-item__actions{
        transition: all 0.4s;
        opacity: 1;
      }
    }
    .task-not-found{
      color: #989898;
      background-color: rgba(#494949, 0.1);
    }
    .task-not-found:hover{
      background-color: rgba(#494949, 0.1);
    }
    .new-task{


      &__name{
        width: 100%
      }
      &__actions{
        opacity: 1;
        display: flex;
      }
    }
}

:host::ng-deep{
  .board{
    &__list-item{
      .p-panel-content{
        padding: unset !important;
      }
    }
    .new-task{
      &__name{
        border-top: unset;
        border-left: unset;
        border-right: unset;
        // border-radius: unset !important;
        padding: unset;
      }
      &__name:focus{
        box-shadow: none;
      }

    }
  }
  .create-new-list-dialog{
    .p-dialog-footer{
      .p-button:focus{
        box-shadow: unset !important;
        background: unset !important;
      }
      .p-button:hover{
        box-shadow: unset !important;
        background: unset !important;
      }
      .p-button:active{
        box-shadow: unset !important;
        background: unset !important;
      }


    }
  }
}
