<div class="content">
  <button pButton class="create-new-list-btn" (click)="newTaskList()">
    Create new list
  </button>
  <button pButton class="create-new-list-btn" (click)="showTeamMember()">
    Team members
  </button>
  <div class="board">
    <ng-container *ngFor="let tasklist of taskLists">
      <p-panel [header]="tasklist.title" class="board__list-item">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon" icon="pi pi-plus" [disabled]="isCreateNewTask"
            (click)="addNewTask(tasklist)"></button>
            <button pButton class="p-panel-header-icon" icon="pi pi-pencil" [disabled]="isCreateNewTask"
            (click)="editTaskList(tasklist)"></button>
          <button pButton class="p-panel-header-icon" icon="pi pi-trash"></button>
        </ng-template>
        <div *ngFor="let task of tasklist.listTask">
          <div *ngIf="task.id !== 'newtask'" class="task-item task-valid" pDraggable="task" pDroppable="task"
            (onDragStart)="dragStartHandler(task)" (drop)="dropHandler($event, tasklist)" (onDragEnd)="dragEndHandler()"
            pDroppable="dd" >
            <p [ngClass]="task.isDone? 'done': ''" class="task-item__title" (click)="showDetailTask(task.id)">{{ task.name }}</p>
            <div class="task-item__actions">
              <button (click)="doneTask(task, tasklist)" pButton
              class="p-panel-header-icon p-button-rounded p-button-text" [icon]="task.isDone? 'pi pi-times': 'pi pi-check'"></button>
              <button (click)="deleteTask(task, tasklist)" pButton
                class="p-panel-header-icon p-button-rounded p-button-text" icon="pi pi-trash"></button>

            </div>
          </div>
          <div *ngIf="task.id === 'newtask'" class="new-task task-item">
            <input [(ngModel)]="taskName" pInputText class="p-inputtext-sm new-task__name" />
            <div class="new-task__actions">
              <button pButton class="p-panel-header-icon p-button-rounded p-button-text" icon="pi pi-check"
                (click)="submitNewTask(tasklist.id)"></button>
              <button pButton class="p-panel-header-icon p-button-rounded p-button-text" icon="pi pi-times"
                (click)="cancelNewTask(tasklist)"></button>
            </div>
          </div>


        </div>
        <div pDroppable="task" class="task-item task-not-found" *ngIf="tasklist.listTask.length == 0"
          (drop)="dropHandler($event, tasklist)">
          Task not found
        </div>
      </p-panel>
    </ng-container>
  </div>
</div>
<p-dialog class="create-new-list-dialog" *ngIf="this.displayCreateNewListDialog" header="Create new list"
  [(visible)]="displayCreateNewListDialog">
  <form [formGroup]="createListForm">
    <input pInputText formControlName="name" placeholder="Input List Name" />
  </form>
  <p-footer>
    <button pButton [disabled]="!createListForm.valid" icon="pi pi-check" class="p-button-text"
      (click)="onCreateNewList()"></button>
    <button pButton (click)="displayCreateNewListDialog = false" icon="pi pi-times" class="p-button-text"></button>
  </p-footer>
</p-dialog>

<p-dialog class="edit-task-list-dialog" *ngIf="this.displayEditTaskList" header="Edit task list"
  [(visible)]="displayEditTaskList">
  <form [formGroup]="editTaskListForm">
    <input pInputText formControlName="title" placeholder="Input Task List Title" />
  </form>
  <p-footer>
    <button pButton [disabled]="!editTaskListForm.valid" icon="pi pi-check" class="p-button-text"
      (click)="onSubmitEditTaskList()"></button>
    <button pButton (click)="displayCreateNewListDialog = false" icon="pi pi-times" class="p-button-text"></button>
  </p-footer>
</p-dialog>

<app-team-members-dialog *ngIf="displayTeamMembers" [displayTeamMembers]="displayTeamMembers" [dashboardId]="dashboardId" (teamMembersEmitter)="onCloseTeamMembersDialog($event)"></app-team-members-dialog>

<app-detail-task *ngIf="displayDetailTask" [taskId]="taskId" [displayDetailTask]="displayDetailTask" (detailTaskEmitter)="closeDetailTask($event)"></app-detail-task>

