
<p-dialog [closable]="false" class="team-members-dialog" [style]="{width: '80vw', 'max-height':'80vw'}" header="Team Members"
[(visible)]="displayTeamMembers">
<p-button (onClick)="showAddNewMemberDialog()">Add New Member</p-button>
<p-table [columns]="tableHeaders" [value]="listMembers">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <ng-container  *ngFor="let col of columns" [ngSwitch]="col.field">
          <td *ngSwitchCase="'joinDate'">
              {{rowData[col.field] | date}}
          </td>
          <td *ngSwitchCase="'inviteDate'">
            {{rowData[col.field] | date}}
        </td>
        <td *ngSwitchCase="'actions'">
          <button *ngIf="rowData.status !== 'OWNER' && isOwner" pButton (click)="removeMember(rowData)"  class="actions__item p-button-text p-button-rounded p-button-danger" icon="pi pi-times"></button>
        </td>
        <td *ngSwitchDefault="">
          {{rowData[col.field]}}
      </td>
        </ng-container>
      </tr>

  </ng-template>
  <ng-template pTemplate="summary">
      There are {{listMembers?.length}} Members
  </ng-template>
</p-table>
<p-footer>
  <button pButton (click)="onClose()" icon="pi pi-times" class="p-button-text"></button>
</p-footer>
</p-dialog>


<p-dialog  class="add-team-member-dialog" [closable]="false" *ngIf="this.displayAddTeamMember" header="Invite Member"
  [(visible)]="displayAddTeamMember">
  <form [formGroup]="addTeamMemberForm">
    <input pInputText formControlName="userName" placeholder="Input username" />
    <button pButton [disabled]="addTeamMemberForm.invalid" (click)="inviteMember()" icon="pi pi-envelope" class="p-button-text"></button>
  </form>
  <p-footer>
    <button pButton (click)="onCloseAddTeamMemberDialog()" icon="pi pi-times" class="p-button-text"></button>
  </p-footer>
</p-dialog>
