.left-container{
    display:flex;
    .back-btn{
        color:black;
    }
    h2{
        text-transform: uppercase;
    }
}
.right-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right-menu-btn{
        padding: 10px;
    }
}