<div class="container">
  <div class="title">
    <h1>REGISTER</h1>
  </div>

  <form [formGroup]="registerForm" (submit)="onSubmit($event)">
    <div class="username">
      <input formControlName="username" type="text" pInputText placeholder="Username" />
    </div>
    <br />
    <div class="password">
      <input formControlName="password" type="password" pInputText placeholder="Password" />
    </div>
    <br />
    <div class="password_verify">
      <input formControlName="verifyPassword" type="password" pInputText placeholder="Confirm Password" />
    </div>
    <br />
    <button
      pButton
      pRipple
      type="submit"
      label="Submit"
      class="p-button-raised"
    ></button>
  </form>
</div>
<p-toast position="top-right" key="register"></p-toast>
