.add-dashboard-area {
    margin: 10px;
    .btn {
        min-width: 300px;
        cursor: pointer;
    }
}

:host::ng-deep{
  .p-datatable .p-datatable-thead > tr > th{
    text-align: center;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
  }
}
