.add-dashboard-area {
    margin: 10px;
    .btn {
        min-width: 300px;
        cursor: pointer;
    }
}

:host::ng-deep{
  .p-datatable .p-datatable-thead > tr > th{
    text-align: center;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 5px 5px;
  }
  .workboard-table{
    .p-datatable-tbody{
      height: 40vh;
    }

  }
}
