<div class="add-dashboard-area">

    <button pButton class="p-panel-header-icon btn" icon="pi pi-plus" label="Add New Workboard"
        (click)="onCreateNewList()"></button>
</div>
<p-table [columns]="tableHeaders" [value]="listDashboards" [lazy]="true" (onLazyLoad)="loadBoardsLazy($event)">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.className}}"> {{col.header}} 
                <p-sortIcon field="{{col.className}}"></p-sortIcon> </th>
            <th>
                Action
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                <td *ngSwitchCase="'createdDate'">
                    {{rowData[col.field] | date}}
                </td>
                <td *ngSwitchCase="'percentDone'">
                    {{rowData[col.field]}}%
                </td>
                <td *ngSwitchDefault="">
                    {{rowData[col.field]}}
                </td>
            </ng-container>
            <td>
                <button pButton icon="pi pi-info" (click)="onSelectDashboard(rowData.id)" class="p-button-infor"
                    label="Detail" [style]="{marginRight:'10px'}"></button>
                <button pButton icon="pi pi-pencil" class="p-button-success" (click)="onEditDashboard(rowData)"
                    label="Edit" [style]="{marginRight:'10px'}"></button>
                <button pButton icon="pi pi-trash" class="p-button-danger" label="Delete"
                    (click)="onDeleteDashboard(rowData)"></button>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">

            <p-paginator 
            (onPageChange)="paginate($event)"
            [rows]="rows" 
            [first]="first"
            [totalRecords]="totalRecords"   
            [pageLinkSize]="pageLinkSize"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showCurrentPageReport] = "true"
           
            currentPageReportTemplate = "Showing {first} to {last} of {totalRecords} entries" ></p-paginator>
    
       
    </ng-template>
</p-table>

<p-dialog class="create-new-list-dialog" *ngIf="this.displayCreateNewListDialog" header="Add New Workboard"
    [(visible)]="displayCreateNewListDialog" [breakpoints]="{'400px': '75vw', '640px': '100vw'}"
    [style]="{width: '400px'}">
    <form [formGroup]="createListForm">
        <div> <input pInputText formControlName="name" placeholder="Enter Name Workboard" [style]="{width: '100%'}">
        </div>
        <br>
        <div>
            <input pInputText formControlName="description" placeholder="Enter Description Workboard"
                [style]="{width: '100%'}">
        </div>
    </form>
    <p-footer>
        <button pButton type="submit" [disabled]="!createListForm.valid" icon="pi pi-check"
            class=" p-button-text p-button-success " label="Create" (click)="newDashBoard()"></button>
        <button pButton (click)="displayCreateNewListDialog = false" icon="pi pi-times"
            class=" p-button-text p-button-danger " label="Cancel"></button>
    </p-footer>
</p-dialog>
<p-dialog class="edit-list-dialog" *ngIf="this.displayEditBoard" header="Edit Workboard" [(visible)]="displayEditBoard"
    [breakpoints]="{'400px': '75vw', '640px': '100vw'}" [style]="{width: '400px'}">
    <form [formGroup]="editForm">
        <div> <input pInputText formControlName="name" placeholder="Enter Name Workboard" [style]="{width: '100%'}">
        </div>
        <br>
        <div>
            <input pInputText formControlName="description" placeholder="Enter Description Workboard"
                [style]="{width: '100%'}">
        </div>
    </form>
    <p-footer>
        <button pButton type="submit" [disabled]="!editForm.valid" icon="pi pi-check"
            class=" p-button-text p-button-success " label="Save" (click)="onUpdateDashBoard()"></button>
        <button pButton (click)="displayEditBoard = false" icon="pi pi-times" class=" p-button-text p-button-danger "
            label="Cancel"></button>
    </p-footer>
</p-dialog>